parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - 'src/DependencyInjection/Configuration.php'
includes:
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon