parameters:
    level: 8
    paths:
        - src
       # - test
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - 'src/DependencyInjection/Configuration.php'
        - 'test/functional/Command/var/*'
    ignoreErrors:
        -
            message: '#Variable method call on OnMoon\\OpenApiServerBundle\\Interfaces\\RequestHandler.#'
            paths:
                - %currentWorkingDirectory%/src/Controller/ApiController.php
        -
            message: '#Variable static method call on class-string<OnMoon\\OpenApiServerBundle\\Interfaces\\Dto>.#'
            paths:
                - %currentWorkingDirectory%/src/Serializer/ArrayDtoSerializer.php

        -
            message: '#Variable static method call on OnMoon\\OpenApiServerBundle\\Types\\TypeSerializer.#'
            paths:
                - %currentWorkingDirectory%/src/Types/ScalarTypesResolver.php

        -
            message: '#OnMoon\\OpenApiServerBundle\\Router\\RouteLoader::__construct\(\) does not call parent constructor from Symfony\\Component\\Config\\Loader\\Loader\.#'
            paths:
                - %currentWorkingDirectory%/src/Router/RouteLoader.php
        -
            message: '#Method OnMoon\\OpenApiServerBundle\\Specification\\SpecificationParser::getResponseDtoDefinitions\(\) has parameter \$responses with no value type specified in iterable type array\.#'
            paths:
                - %currentWorkingDirectory%/src/Specification/SpecificationParser.php
        -
            message: '#Parameter \#1 \$json of function Safe\\json_decode expects string, resource\|string given\.#'
            paths:
                - %currentWorkingDirectory%/src/Serializer/ArrayDtoSerializer.php
includes:
    - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
